<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register">
  <div>
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-input
          label="Nom d'Utilisateur"
          labelPlacement="stacked"
          placeholder="xXDarkCarFanXx"
          formControlName="username"
        >
        </ion-input>
      </ion-item>
      @if (registerForm.get('username')?.dirty) {
        @if (registerForm.get('username')?.errors?.['required']) {
          <span class="span-error">Champ requis.</span>
        }

        @if (registerForm.get('username')?.errors?.['minlength']) {
          <span class="span-error">Le nom d'utilisateur doit contenir au moins 2 caractères.</span>
        }
      }

      <ion-item>
        <ion-input
          label="E-mail"
          labelPlacement="stacked"
          placeholder="email@example.com"
          formControlName="email"
        >
        </ion-input>
      </ion-item>
      @if (registerForm.get('email')?.dirty) {
        @if (registerForm.get('email')?.errors?.['required']) {
          <span class="span-error">Champ requis.</span>
        }

        @if (registerForm.get('email')?.errors?.['email']) {
          <span class="span-error">L'email est invalide.</span>
        }
      }

      <ion-item>
        <ion-input
          label="Numéro de téléphone"
          labelPlacement="stacked"
          type="text"
          placeholder="0102030405"
          formControlName="phoneNumber"
        >
        </ion-input>
      </ion-item>
      @if (registerForm.get('phoneNumber')?.dirty) {
        @if (registerForm.get('phoneNumber')?.errors?.['required']) {
          <span class="span-error">Champ requis.</span>
        }

        @if (registerForm.get('phoneNumber')?.errors?.['minlength'] || registerForm.get('phoneNumber')?.errors?.['maxlength']) {
          <span class="span-error">Le numéro de téléphones doit contenir 10 chiffres.</span>
        }
      }

      <ion-item>
        <ion-input
          label="Mot de passe"
          labelPlacement="stacked"
          [type]="passwordType"
          placeholder="***********"
          formControlName="password"
        >
        </ion-input>
        <ion-icon id="icon-eye" [name]="passwordIcon" (click)="onToggleShowPassword()"></ion-icon>
      </ion-item>
      @if (registerForm.get('password')?.dirty) {
        @if (registerForm.get('password')?.errors?.['required']) {
          <span class="span-error">Champ requis.</span>
        }

        @if (registerForm.get('password')?.errors?.['minlength']) {
          <span class="span-error">Le mot de passe doit contenir au moins 8 caractères.</span>
        }
      }

      <ion-item>
        <ion-input
          label="Confirmer le mot de passe"
          labelPlacement="stacked"
          [type]="passwordType"
          placeholder="***********"
          formControlName="passwordcon"
        >
        </ion-input>
        <ion-icon id="icon-eye" [name]="passwordIcon" (click)="onToggleShowPassword()"></ion-icon>
      </ion-item>
      @if (registerForm.get('passwordcon')?.dirty) {
        @if (registerForm.get('passwordcon')?.errors?.['required']) {
          <span class="span-error">Champ requis.</span>
        }
      }
      <div *ngIf="passwordMismatchError">
        <span class="span-error">Les mots de passe ne correspondent pas.</span>
      </div>

      <div class="container-button">
        <ion-button color="success" size="medium" [disabled]="registerForm.invalid" (click)="onSignUp()">
          Inscription
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
